<!DOCTYPE html>
<html lang="en">
<head>
    <meta charSet="utf-8">
    <title>댕댕백서</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dogcss.css') }}">
    <style>
    </style>
</head>
<body>
    <div class="map_wrap">
        <div id="map" style="width:100%;height:910px;position:relative;overflow:hidden;"></div>
        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        키워드 : <input type="text" value="압구정" id="keyword" size="15">
                        <button type="submit">검색하기</button>
                    </form>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>
    <div id="clickLatlng"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=key값 입력=services,clusterer,drawing"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dogjavascript.js') }}"></script>
</body>
</html>